# --- PostgreSQL ---
POSTGRES_USER=taskflow
POSTGRES_PASSWORD=nagasaki
POSTGRES_DB=taskflow

# --- Backend ---
DATABASE_URL=postgres://taskflow:change_me_in_production@db:5432/taskflow
JWT_SECRET=ae4dad285ee8d034d18a92fbfadde3ea22d0936e59a55c60eb210c3993b9973c
PORT=5000

# --- Frontend ---
VITE_API_URL=http://localhost:5000/api
