# --- Node.js ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- Сборка ---
dist/
build/
out/
.vite/
.cache/

# --- Переменные окружения ---
.env
.env.local
.env.*.local

# --- Логи ---
logs/
*.log

# --- Prisma ---
server/prisma/migrations/*_dev/
*.db
*.db-journal

# --- IDE / редакторы ---
.vscode/
.idea/
*.swp
*.swo

# --- ОС ---
.DS_Store
Thumbs.db

# --- Docer (локальные тома) ---
docker-data/

# --- Тесты . coverage ---
coverage/
.nyc_output/
